<h1>  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

1. Python
2. SQL
3. R
4. C++

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn

|Data Science Tools |
| ------ | 
|JupyterNotebook | 
|Pandas| 
|RStudio | 
|ggplot2 |

__Objectives:__
* Python
* R
* SQL
* C++

<h3> Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

In [8]:
# Convert minutes to hours

In [7]:
200/60

3.3333333333333335

<H2>Author: </H2>
    Michal Moleda